div {
    max-width: 400px;
    height: calc(100vh - 40vh);
    background-color: rgba(42,146,205, 0.96);
    box-shadow: 0px 0px 40px 20px rgba(245, 243, 135, 0.6);
    margin: 20vh auto;
    border-radius: 20px;
    border: 2px solid rgb(245, 243, 135);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

div a {
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
    color: antiquewhite;
    background-color: #175d8d;
    box-shadow: 0px 0px 2px 2px rgba(245, 243, 135, 0.6) inset;
    width: 70%;
    text-align: center;
    border-radius: 10px;
}

div a:hover{
    background-color: antiquewhite;
    color: #175d8d;
}